
! Import theme colors + rofi
!#include ".Xresources.d/themes/cmyk"
!#include ".Xresources.d/themes/donut"
!#include ".Xresources.d/themes/floral"
!#include ".Xresources.d/themes/grayscale"
!#include ".Xresources.d/themes/kiss_shot"
!#include ".Xresources.d/themes/senjou"
!#include ".Xresources.d/themes/sky"
!#include ".Xresources.d/themes/sunsetcity"
!#include ".Xresources.d/themes/taiga"
!#include ".Xresources.d/themes/touka"
#include ".Xresources.d/themes/solarized"

!background:        #282828
!*foreground:        #F2F1F0

! Some font rendering fixings
Xft.antialias: true
Xft.autohint: false
!Xft.dpi: 96
Xft.dpi: 88
!Xft.dpi: 163.18
Xft.hinting: true
Xft.hintstyle: hintfull
Xft.lcdfilter: lcddefault
Xft.rgba: rgb
!
Xcursor.theme: Bluecurve
!
#include ".Xresources.d/urxvt"
